{
  "0": {
    "from": {
      "name": "Aviso de Concurso",
      "email": "serveremail@smtp.com.br"
    }
    "email": "seu@email.com.br",
    "instituicoes": [
      "FATEC SAO PAULO",
      "FATEC TAUBATE"
    ],
    "__comment": "O nome das intituições devem estar exatamente como no site http://www.concursopublico.sp.gov.br/"
  }
}
